.Home{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: rgb(63, 62, 62);
}
.HomeTitle{
    color: white;
    font-size: 4.0rem;
    align-self: center;
    font-weight: 700;
    margin-left: -200px;
    margin-right: 40px;
}

.HomeTitle::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }
  .imgNotebook{
    width: 100%;
    height: 100%;
    align-self: center;
    margin-top: 110px;
  }
  

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }


  @media only screen and (max-width: 1070px) {
    .imgNotebook{
      width: 60%;
      height: 60%;

    }
    .HomeTitle{
      font-size: 3.0rem;
      font-weight: 500;
    }
  }

  @media only screen and (max-width: 905px) {
    
    .imgNotebook{
      width: 200px;
      height: 250px;
      margin-top: 110px;
    }
    .HomeTitle{
      margin-top: 30px;
      font-size: 2.0rem;
      font-weight: 400;
    }
  }

  

  @media only screen and (max-width: 535px) {
    
    .imgNotebook{
      width: 200px;
      height: 250px;
      margin-top: 110px;
    }
    .HomeTitle{
      margin-top: 30px;
      font-size: 2.0rem;
      font-weight: 400;
    }
  }
  @media only screen and (max-width: 500px) {
    .Home{
      width: 100%;
      height: 70vh;
    }
    .imgNotebook{
      max-width:330px;
      max-height:330px;
      width: auto;
      height: auto;
      margin-top: 60px;
    }
    .HomeTitle{
      font-size: 1.6rem;
      font-weight: 400;
      margin-left: -150px;
      margin-right: 5px;
    }
  }