.Header{
    position: sticky;
    transition: all .3s;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background: rgb(33, 33, 33);
    width:100%;
    height: 100px;
}
.Header h1{
    color: #fff;
    font-weight: 300;
    margin-top: 25px;
}
.Header ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.Header ul li{
    margin-top: 5px;
    padding: 20px;
    font-size: 1.1rem;
    font-weight: 200;
}
.Header ul li a {
    text-decoration: none;
    color: #fff;
}
