.Header{
    position: sticky;
    transition: all .3s;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background: rgb(33, 33, 33);
    width:100%;
    height: 100px;
}
.Header h1{
    color: #fff;
    font-weight: 300;
    margin-top: 25px;
}
.Header ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.Header ul li{
    margin-top: 5px;
    padding: 20px;
    font-size: 1.1rem;
    font-weight: 200;
}
.Header ul li a {
    text-decoration: none;
    color: #fff;
}
@media only screen and (max-width: 905px) {
    .Header h1{
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .Header ul li{
        font-size: 0.9rem;
        padding: 5px;
    }
}
@media only screen and (max-width: 535px) {
    .Header h1{
        font-size: 1.1rem;
        margin-top: 30px;
    }
    .Header ul li{
        font-size: 0.7rem;
        padding: 5px;
    }
}
@media only screen and (max-width: 500px) {
    .Header{
        height: 50px;
    }
    .Header h1{
        font-size: 0.9rem;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 0px;
    }
    .Header ul {
        display: none;
    }
}
