
.item{
    text-align: center;
    overflow: hidden;
    margin-top: 3px;
    height: 100vh;
    padding: 60px;
    background-color: rgb(181, 181, 181);
}
.item p {
    max-width: 450px;
    margin: 0 auto;
}
.link{
    text-decoration: none;

}
.button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
  }

  @media only screen and (max-width: 1028px) {
    .item{
        height: 80vh;
        
    }
    .item h1{
        font-size: 1.6rem;
    }
    .item p{
        font-size: 0.9rem;
    }
    .item img{
        max-width:230px;
        max-height:230px;
        width: auto;
        height: auto;
    }
    .button {
        padding: 10px 21px;
    }

  }